* {
  box-sizing: border-box;
}

form {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}

input {
  width: 99%;
  padding: 0.5em;
  font-size: 1.4em;
}

button {
  border:1px solid #1c056f;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  margin-top: 1rem;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
}

.done > span {
  text-decoration: line-through;
}

th {
  margin: 10rem;
  width: 10rem;
}
